body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #40514E;
}
h1{
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  color: #f1f1f6;
}
h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #f1f1f6;
  padding-bottom: 10px;

}
h3, h4{
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}
a{
  color: #11999E;
}
p{
  font-family: 'Montserrat', sans-serif;
  line-height: 2;}
/*
hr {
 border: dotted #EAF6F6 6px;
 border-bottom: none;
 width: 4%;
 margin: 100px auto;
} */

a{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover{
  color: inherit;
}
.navbar-custom {
    background-color: #be9fe1;
    padding: 0 10%;
}
.navbar-light .navbar-nav .nav-link{
  color: #ffffff;
}
.top-container{
  position: relative;
  padding-top: 100px;
  background-color: #be9fe1 ;
}
.bottom-cloud{
  position: absolute;
  left: 250px;
  bottom: 300px;
}
.top-cloud{
  position: absolute;
  right: 300px;
  top:40px;
}

/* Middle Container Classes */
.middle-container{
  text-align: center;
  background-color: #e1ccec ;
  padding-top: 100px;
  padding-bottom: 150px;
}
.profile{
  margin:5%;
}
.intro{
  width: 35%;
  margin:auto;
  font-size: 1.5rem;
}

/* Skills */
.skills{
  padding-top: 50px;
  padding-bottom: 100px;
}
.row{
  padding-top: 50px;
  padding-bottom: 50px;
}
.img-monitor{
  width: 50%;
}
.align{
  text-align: left;
    line-height: 2;
}

.bottom-container{
  background-color: #f1f1f6 ;
  height: 150px;
  padding: 50px 0 20px;
  margin-top: 50px;
}
.normal-font{
  font-weight: normal;
}
.img-window{
  width: 30%;
}

.img-contact{
  width: 15%;
  margin:20px;
}
.contact-message{
  width: 40%;
  margin: 40px auto 60px;
}
.copyright{
  font-size: 0.76rem;
  padding: 20px 0px;
}
